body {
      margin-top: 1.0em;
      background-color: #fdf6e3;
      font-family: 'Droid Serif', Helvetica, serif;
      color: #657b83;
}

#container {
    margin: 0 auto;
    width: 700px;
}


h1 { font-size: 3.8em; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em;  }
h3 { text-align: center; }
a { color: #b58900 }
i { color: #cb4b16 }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }

pre {
    background: #eee8d5;
    color: #586e75;
    padding: 15px;
    font-family: 'Terminus', 'Andale Mono', monospace;
}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

.footer {
    text-align:center;
    padding-top:50px;
    font-style: italic;
    color: #93a1a1;
}

